spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  flyway:
    enabled: true
    baseline-on-migrate: true

app:
  aws:
    region: ${APP_AWS_REGION}
  sqs:
    queueName: ${APP_SQS_QUEUE_NAME}
    queueUrl: ${APP_SQS_QUEUE_URL}
